* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Wrapper {
  width: 100%;
  padding: 40px 50px;
}

.Wrapper btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  padding: 10px 0px;
}
.Wrapper .btn-group button {
  padding: 5px 10px;
  border: 1px solid hotpink;
  color: black;
  background-color: bisque;
}

.Wrapper .btn-group button:hover {
  background-color: aquamarine;
  transition: 0.3s ease-in-out;
  color: azure;
}

.Wrapper .Section {
  width: 100%;
  border: ipx solid red;
  padding: 20px;
  color: black;
}
